{% extends 'dashboard/layout.html' %}
<br />
{% load dashboard_extras %}
<br />
{% block title %}CESEM | administrador{% endblock %} {% block body %}

<h2>{{ message }}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Actividad</th>
      {% for w in weeks_number %}
      <th>{{w|get_start_date_of_week:2022}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for a in activities %}
    <tr>
      <td>{{a.position}}</td>
      <td>{{a.name}}</td>
      {% for w in weeks_number %}
      <td class="warning">{% get_activity_data_value a w activities_data %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
